# ignore all
*

# except source files in these folders
!codeforces/
!atcoder/
!kattis/
!spoj/
!leetcode/
!classical/
!yukicoder/
!topcoder/
!cses/
!kickstart/
!hackercup/
!aoc/
!codejam/

# programming languages
!*.cpp
!*.d
!*.rs
!*.py
!*.hs
!*.ml
!*.nim
!*.js
!*.php
!*.bf
!*.go
!*.c
!*.lua
!*.bash
!*.sh
!*.lisp
!*.scm
!*.asm
!*.awk
!*.zig
!*.cl
!*.cr
!*.rb
!*.jl
!*.f
!*.adb
!*.scala
!*.kt
!*.r
!*.pas
!*.pl
!*.raku

# dont ignore gitignore
!.gitignore

# whitelist the license
!LICENSE
