# ignore all
*

# except source files in these folders
!codeforces/
!atcoder/
!spoj/
!leetcode/

!*.cpp
!*.d
!*.rs
!*.py
!*.hs
!*.nim
!*.js
!*.php

# dont ignore gitignore
!.gitignore

# whitelist the license
!LICENSE
